// GENERALES
$background-gradient: linear-gradient(50deg, steelblue, steelblue, steelblue, red 60%, yellow);
$azul-obscuro-paco: #162d4c;
$rojo-paco: #c11631;
$amarillo-paco: #ffdd0e;
$azul-claro: #04498e;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15px;

    
}

@font-face {
    font-family: Expo2;
    src: url(../fuente/Exo2-Bold.otf);
}

.font-paco{
    font-family: Expo2!important;
}

h1,h2,h3,h4,h5,h6,a,b {
    font-family: Expo2!important;

}

body {
    padding-top: 0 !important;
    background: $azul-claro !important;
    background-image: url(../img/Sin-título-1.jpg) !important;
    background-size: 50% !important;
    background-attachment: fixed !important;
}

.halloween{
    background: #38002f !important;
}

.bg-none{
    background: none!important;
}

main,
footer {
    background: rgb(247, 247, 247);
}

.img-pacosantos {
    width: 120px;
    position: fixed;
    display: flex;
    top: 80%;
    left: 90%;
    z-index: 9;

    img {
        width: 100%;
        height: auto;
    }
}

img {
    width: 100%;
    height: auto;
}

// .card {
//     padding: 20px;
//     background: none !important;
//     border: none !important;
// }

.logo {
    width: 140px;
}

.navbar {
    margin-bottom: 0 !important;
}

.nav-link:hover {
    text-decoration: underline 4px steelblue;
    // padding-bottom: 2px;
}

.active-first {
    background: $background-gradient !important;
}

// HEADER
.nav-link .active-first.active {
    background: $background-gradient !important;
}
 
// COLORES
.gradient {
    background: url(../img/barra-mosaico.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .container-fluid {
        .navbar-nav {
            li a {
                color: #fff !important;
                padding: 8px 20px;

                &:hover {
                    text-decoration: underline 2px;
                    // border: 1px solid #fff;
                    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.5);
                }

                &.submenu-active {
                    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.5);

                }
            }
        }
    }
}

.bg-blue-dark {
    border: 2px solid $azul-obscuro-paco !important;
}

.border-amarillo {
    border: 2px solid $amarillo-paco !important;
}

.border-blue {
    border: 2px solid $azul-claro !important;
}

.border-rojo {
    border: 2px solid $rojo-paco !important;
}

.bg-dark {
    background: none !important;
}


.bg-amarillo {
    background: $amarillo-paco !important;
}

.bg-rojo {
    background: $rojo-paco !important;
}

.bg-azul {
    background: $azul-claro !important;
}

.bg-azul-obscuro {
    background: $azul-obscuro-paco !important;
}

.color-amarillo {
    color: $amarillo-paco !important;

}

.color-rojo {
    color: $rojo-paco !important;

}

.color-azul {
    color: $azul-claro !important;

}

.color-azul-obscuro {
    color: $azul-obscuro-paco !important;

}

.border-none {
    border: none !important;
}

.nav-link{
    color: $azul-claro!important;
    font-weight: bold;
    font-family: Expo2;
    font-size: 16px;
    a{
        text-decoration: none!important;
    }
}

// BANNER
.banner-gral {
    height: 300px !important;
    background: url(../img/oficina2.jpeg) !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    &::after {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100%;
    }

}

.banner-comunicado {

    height: 300px !important;
    background: url(../img/img-comunicado.jpg) !important;
    background-size: auto !important;
    background-position: center center!important;
    background-repeat: no-repeat !important;

    &::after {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100%;
    }

}

.banner-quienes {

    height: 300px !important;
    background: url(../img/soypacosantos.jpg) !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    &::after {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100%;
    }

}

.banner-fideicomiso {

    height: 300px !important;
    background: url(../img/fondosoypacosantos.png) !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    &::after {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100%;
    }
}

.banner-concurso {

    height: 410px !important;
    background: url(../img/Feliz-día-de-muertos.jpg)!important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    &::after {
        content: "";
        // background: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100%;
    }

}

.banner-videos {

    height: 300px !important;
    background: url(../img/banner-videos-soypacosantos.jpg) !important;
    background-size: auto !important;
    background-position: center center!important;
    background-repeat: no-repeat !important;

    &::after {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100%;
    }

}



@media(max-width:500px){
    .banner-concurso{
        background-size: 100%!important;
        height: 180px!important;
    }
}

.background-paco {
    background-image: url(../img/index-header-paco.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
    
}

@media screen and(max-width: 600px) {
    .background-paco {
        background-image: none;
    }
}

.texto-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
        font-weight: 900;
        font-size: 4rem !important;
        color: #fff;
        font-family: Expo2;
    }

    h2 {
        font-weight: 900;
        font-size: 2.3rem !important;
        color: #fff;
        font-family: Expo2;
    }

}

@media screen and(max-width:500px) {

    .texto-banner h1,
    .texto-banner h2 {
        font-size: 26px !important;
    }
}

.carousel-prueb {

    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    background-image: url(../img/veda-electoral.jpg) !important;
    background-size: cover !important;

    // &::before {
    //     content: "";
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 76, 148, 0.507) 90% 45deg);
    // }
}

@media screen and(max-width:1090px) {
    .carousel-prueb {
        height: auto !important;
    }
}


// carousel fideicomiso


.testimonials {
    // background-color: $azul-obscuro-paco;
    position: relative;
    padding-top: 80px;
}

.testimonials:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
    // background-color: $azul-obscuro-paco;
}

#customers-testimonials .item-details {
    background-color: $azul-obscuro-paco;
    color: #fff;
    padding: 20px 10px;
    text-align: left;
    height: 130px;

}

#customers-testimonials .item-details h5 {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 18px;
}

#customers-testimonials .item-details h5 span {
    color: red;
    float: right;
    padding-right: 20px;
}

#customers-testimonials .item-details p {
    font-size: 14px;
}

#customers-testimonials .item {
    text-align: center;
    margin-bottom: 80px;
}

.owl-carousel .owl-nav [class*=owl-] {
    transition: all 0.3s ease;
}

.owl-carousel .owl-nav [class*=owl-].disabled:hover {
    background-color: #D6D6D6;
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    font-size: 20px;
    color: $azul-claro;
    border: 1px solid $azul-claro;
    text-align: center;
}

.owl-carousel .owl-prev {
    left: -50px;
}

.owl-carousel .owl-next {
    right: -50px;
}

//   SLIDE IMG

// IMAGEN DE INDEX PACO
.bg-soypaco {
    background: url(../img/soypaco-banner.jpg);
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
}

@media screen and(max-width: 600px) {
    .bg-soypaco {
        background: rgba(255, 255, 255, 0.5) url(/img/soypaco-banner.jpg) no-repeat 50%;
    }
}

.bg-blanco {
    background: #fff !important;
}

.color-blue {
    color: #04498e;
}

.hb-1,
.bg-2,
.bg-3,
.bg-4 {
    transition: .1s ease-in;
    -webkit-transition: .1s ease-in;
    -o-transition: .1s ease-in;
}

.bg-1:hover {
    background: $amarillo-paco !important;
    transition: .1s ease-in;
    -webkit-transition: .1s ease-in;
    -o-transition: .1s ease-in;
}

.bg-2:hover {
    background: $rojo-paco !important;
    color: #fff !important;
    transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
}

.bg-3:hover {
    background: $azul-claro !important;
    color: #fff !important;
    transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
}

.bg-4:hover {
    background: $azul-obscuro-paco !important;
    color: #fff !important;
    transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
}

.card-title h5{
    font-size: 17px;
    font-family: Expo2;
}

p.card-text{
    font-size: 14px;
}

.lista-redes-sociales {
    list-style: none;

    li {
        i {
            font-size: 30px;
            margin: 10px 30px;

        }

        &:hover {
            margin-top: -8px;
            transition: .1s ease-in;
            -webkit-transition: .1s ease-in;
            -o-transition: .1s ease-in;
        }

        transition: .1s ease-in;
        -webkit-transition: .1s ease-in;
        -o-transition: .1s ease-in;
    }
}

.flex-end {
    display: flex;
    align-items: flex-end !important;
}

.lista-footer {
    list-style: none;

    li {

        transition: .1s ease-in;
        -webkit-transition: .1s ease-in;
        -o-transition: .1s ease-in;

        a {
            text-decoration: none;
            color: #000;
        }

        &:hover {
            border-left: 3px solid $azul-claro;
            padding-left: 10px;
            transition: .1s ease-in;
            -webkit-transition: .1s ease-in;
            -o-transition: .1s ease-in;
        }
    }
}

.contacto-footer {
    p {
        a {
            transition: .1s ease-in;
            -webkit-transition: .1s ease-in;
            -o-transition: .1s ease-in;
            text-decoration: none;
            color: #343a40;

            &:hover {
                border-left: 3px solid $azul-claro;
                padding-left: 10px;
                transition: .1s ease-in;
                -webkit-transition: .1s ease-in;
                -o-transition: .1s ease-in;
            }
        }

    }
}

.icon-list {
    list-style: none;
}

@keyframes aparecer {

    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.ocultar {
    opacity: 0;
}

.animar {
    animation: aparecer 1.3s;
}

#contadores_principal {
    .contador {
        .contador_cantidad {
            font-family: Expo2;
        }

        h4 {
            font-family: Expo2 !important;
        }
    }
}

.comunicados::before{
    border-left: 8px solid #c11631!important;
}

.icono-comunicados{
    position: fixed;
    top: 90%;
    left: 3%!important;
    i{
        font-size: 3.5rem;
        color: #ffdd0e;
        &:hover{
        color: #d4ba0c;

        }
    }
}

// CONCURSO

.img-calaverita{
    width: 300px;
    margin: 0 auto;
    animation: rotar 5s infinite;
}
.background-form{
    border-radius: 15px;
    background: #38002f;

    label{
        color: #a446b1;   
    }

    button{
        background: #ff8400!important;
        color: #38002f!important;
    }

    input[type="text"], input[type="tel"],input[type="number"],input[type="email"]{
        background: none;
        color: #ff8400;
        border: none;
        border-bottom: 2px solid #ff8400!important;
        border-radius: 0!important;
        &:focus{
            box-shadow: none;
        }
    }
    input[type="file"]{
        color: #a446b1;   
        text-decoration: underline;
    }
}
@keyframes rotar {

    0%{
        transform: rotar(0);
    }
    25%{
        transform: rotate(10deg);
    }
   
    35%{
        transform: rotate(0);
    }
    45%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(0);
    }

}



// BLOG
/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  
  .nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
  }
  
  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }
  
  .flex-auto {
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }
  

//   SIDEBARS

  .b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
  }
  
  .dropdown-toggle { outline: 0; }
  
  .nav-flush .nav-link {
    border-radius: 0;
  }
  
  .btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
  }
  
  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }
  
  .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: #d2f4ea;
  }
  
  .scrollarea {
    overflow-y: auto;
  }
  
  .fw-semibold { font-weight: 600; }
  .lh-tight { line-height: 1.25; }
  