@charset "UTF-8";
@font-face {
  font-family: Expo2;
  src: url(../fuente/Exo2-Bold.otf);
}

.font-paco {
  font-family: Expo2 !important;
}

body {
  padding-top: 0 !important;
  background: #04498e !important;
  background-image: url(../img/Sin-título-1.jpg) !important;
  background-size: 50% !important;
  background-attachment: fixed !important;
}

.halloween {
  background: #38002f !important;
}

main,
footer {
  background: #f7f7f7;
}

.img-pacosantos {
  width: 120px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 80%;
  left: 90%;
  z-index: 9;
}

.img-pacosantos img {
  width: 100%;
  height: auto;
}

img {
  width: 100%;
  height: auto;
}

.card {
  padding: 20px;
  background: none !important;
  border: none !important;
}

.logo {
  width: 140px;
}

.navbar {
  margin-bottom: 0 !important;
}

.nav-link:hover {
  -webkit-text-decoration: underline 4px steelblue;
          text-decoration: underline 4px steelblue;
}

.active-first {
  background: linear-gradient(50deg, steelblue, steelblue, steelblue, red 60%, yellow) !important;
}

.nav-link .active-first.active {
  background: linear-gradient(50deg, steelblue, steelblue, steelblue, red 60%, yellow) !important;
}

.gradient {
  background: url(../img/barra-mosaico.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gradient .container-fluid .navbar-nav li a {
  color: #fff !important;
  padding: 8px 20px;
}

.gradient .container-fluid .navbar-nav li a:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  -webkit-box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.5);
}

.gradient .container-fluid .navbar-nav li a.submenu-active {
  -webkit-box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.5);
}

.bg-blue-dark {
  border: 2px solid #162d4c !important;
}

.border-amarillo {
  border: 2px solid #ffdd0e !important;
}

.border-blue {
  border: 2px solid #04498e !important;
}

.border-rojo {
  border: 2px solid #c11631 !important;
}

.bg-dark {
  background: none !important;
}

.bg-amarillo {
  background: #ffdd0e !important;
}

.bg-rojo {
  background: #c11631 !important;
}

.bg-azul {
  background: #04498e !important;
}

.bg-azul-obscuro {
  background: #162d4c !important;
}

.color-amarillo {
  color: #ffdd0e !important;
}

.color-rojo {
  color: #c11631 !important;
}

.color-azul {
  color: #04498e !important;
}

.color-azul-obscuro {
  color: #162d4c !important;
}

.border-none {
  border: none !important;
}

.nav-link {
  color: #04498e !important;
  font-weight: bold;
  font-family: Expo2;
  font-size: 16px;
}

.nav-link a {
  text-decoration: none !important;
}

.banner-gral {
  height: 300px !important;
  background: url(../img/oficina2.jpeg) !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.banner-gral::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100%;
}

.banner-comunicado {
  height: 300px !important;
  background: url(../img/img-comunicado.jpg) !important;
  background-size: auto !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.banner-comunicado::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100%;
}

.banner-quienes {
  height: 300px !important;
  background: url(../img/soypacosantos.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.banner-quienes::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100%;
}

.banner-fideicomiso {
  height: 300px !important;
  background: url(../img/fondosoypacosantos.png) !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.banner-fideicomiso::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100%;
}

.banner-concurso {
  height: 410px !important;
  background: url(../img/Feliz-día-de-muertos.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.banner-concurso::after {
  content: "";
  width: 100vw;
  height: 100%;
}

@media (max-width: 500px) {
  .banner-concurso {
    background-size: 100% !important;
    height: 180px !important;
  }
}

.background-paco {
  background-image: url(../img/index-header-paco.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .background-paco {
    background-image: none;
  }
}

.texto-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.texto-banner h1 {
  font-weight: 900;
  font-size: 4rem !important;
  color: #fff;
  font-family: Expo2;
}

.texto-banner h2 {
  font-weight: 900;
  font-size: 2.3rem !important;
  color: #fff;
  font-family: Expo2;
}

@media screen and (max-width: 500px) {
  .texto-banner h1,
  .texto-banner h2 {
    font-size: 26px !important;
  }
}

.carousel-prueb {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  background-image: url(../img/arranque_paco.mp4) !important;
  background-size: cover !important;
}

.carousel-prueb::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), color-stop(90%, rgba(0, 76, 148, 0.507)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 76, 148, 0.507) 90% 45deg);
}

@media screen and (max-width: 1090px) {
  .carousel-prueb {
    height: auto !important;
  }
}

.testimonials {
  position: relative;
  padding-top: 80px;
}

.testimonials:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30%;
}

#customers-testimonials .item-details {
  background-color: #162d4c;
  color: #fff;
  padding: 20px 10px;
  text-align: left;
  height: 130px;
}

#customers-testimonials .item-details h5 {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 18px;
}

#customers-testimonials .item-details h5 span {
  color: red;
  float: right;
  padding-right: 20px;
}

#customers-testimonials .item-details p {
  font-size: 14px;
}

#customers-testimonials .item {
  text-align: center;
  margin-bottom: 80px;
}

.owl-carousel .owl-nav [class*=owl-] {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.owl-carousel .owl-nav [class*=owl-].disabled:hover {
  background-color: #D6D6D6;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  font-size: 20px;
  color: #04498e;
  border: 1px solid #04498e;
  text-align: center;
}

.owl-carousel .owl-prev {
  left: -50px;
}

.owl-carousel .owl-next {
  right: -50px;
}

.bg-soypaco {
  background: url(../img/soypaco-banner.jpg);
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .bg-soypaco {
    background: rgba(255, 255, 255, 0.5) url(/img/soypaco-banner.jpg) no-repeat 50%;
  }
}

.bg-blanco {
  background: #fff !important;
}

.color-blue {
  color: #04498e;
}

.hb-1,
.bg-2,
.bg-3,
.bg-4 {
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
  -o-transition: .1s ease-in;
}

.bg-1:hover {
  background: #ffdd0e !important;
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
  -o-transition: .1s ease-in;
}

.bg-2:hover {
  background: #c11631 !important;
  color: #fff !important;
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

.bg-3:hover {
  background: #04498e !important;
  color: #fff !important;
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

.bg-4:hover {
  background: #162d4c !important;
  color: #fff !important;
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

.card-title h5 {
  font-size: 17px;
  font-family: Expo2;
}

p.card-text {
  font-size: 14px;
}

.lista-redes-sociales {
  list-style: none;
}

.lista-redes-sociales li {
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
  -o-transition: .1s ease-in;
}

.lista-redes-sociales li i {
  font-size: 30px;
  margin: 10px 30px;
}

.lista-redes-sociales li:hover {
  margin-top: -8px;
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
  -o-transition: .1s ease-in;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.lista-footer {
  list-style: none;
}

.lista-footer li {
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
  -o-transition: .1s ease-in;
}

.lista-footer li a {
  text-decoration: none;
  color: #000;
}

.lista-footer li:hover {
  border-left: 3px solid #04498e;
  padding-left: 10px;
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
  -o-transition: .1s ease-in;
}

.contacto-footer p a {
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
  -o-transition: .1s ease-in;
  text-decoration: none;
  color: #343a40;
}

.contacto-footer p a:hover {
  border-left: 3px solid #04498e;
  padding-left: 10px;
  transition: .1s ease-in;
  -webkit-transition: .1s ease-in;
  -o-transition: .1s ease-in;
}

.icon-list {
  list-style: none;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.ocultar {
  opacity: 0;
}

.animar {
  -webkit-animation: aparecer 1.3s;
          animation: aparecer 1.3s;
}

#contadores_principal .contador .contador_cantidad {
  font-family: Expo2;
}

#contadores_principal .contador h4 {
  font-family: Expo2 !important;
}

.comunicados::before {
  border-left: 8px solid #c11631 !important;
}

.icono-comunicados {
  position: fixed;
  top: 90%;
  left: 3% !important;
}

.icono-comunicados i {
  font-size: 3.5rem;
  color: #ffdd0e;
}

.icono-comunicados i:hover {
  color: #d4ba0c;
}

.img-calaverita {
  width: 300px;
  margin: 0 auto;
  -webkit-animation: rotar 5s infinite;
          animation: rotar 5s infinite;
}

.background-form {
  border-radius: 15px;
  background: #38002f;
}

.background-form label {
  color: #a446b1;
}

.background-form button {
  background: #ff8400 !important;
  color: #38002f !important;
}

.background-form input[type="text"], .background-form input[type="tel"], .background-form input[type="number"], .background-form input[type="email"] {
  background: none;
  color: #ff8400;
  border: none;
  border-bottom: 2px solid #ff8400 !important;
  border-radius: 0 !important;
}

.background-form input[type="text"]:focus, .background-form input[type="tel"]:focus, .background-form input[type="number"]:focus, .background-form input[type="email"]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.background-form input[type="file"] {
  color: #a446b1;
  text-decoration: underline;
}

@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotar(0);
            transform: rotar(0);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  35% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  45% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes rotar {
  0% {
    -webkit-transform: rotar(0);
            transform: rotar(0);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  35% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  45% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
/*# sourceMappingURL=style.css.map */